<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label for="otherWitnessName">Wtiness Name</label>
            <input id="otherWitnessName" type="text" class="form-control"  ng-model="formData.otherWitnessName">
        </div>
        <div class="form-group">
            <label for="otherWitnessAddresss">Wtiness Phone Number</label>
            <input id="otherWitnessAddresss" type="text" class="form-control" ng-model="formData.otherWitnessAddresss">
        </div>

        <div class="form-group">
            <label for="otherNotified">Date Administrator Notified</label>
            <input id="otherNotified" type="date" class="form-control" ng-model="formData.otherNotified">
        </div>


    </div>

    <div class="col-xs-6">

        <div class="form-group">
            <label for="otherPrepared">Date Prepared</label>
            <input id="otherPrepared" type="date" class="form-control" ng-model="formData.otherPrepared">
        </div>

        <div class="form-group">
            <label for="otherPreparerName">Preparers Name</label>
            <input id="otherPreparerName" type="text" class="form-control" ng-model="formData.otherPreparerName">
        </div>

        <div class="form-group">
            <label for="otherPhoneNumber">Preparers Phone Number</label>
            <input id="otherPhoneNumber" type="text" class="form-control" ng-model="formData.otherPhoneNumber">
        </div>

    </div>

</div>



<div class="form-group row">
    <div class="col-xs-2" style="margin-top: 10px;">

        <a style="color: #fff; text-decoration: underline;">
            Cancel
        </a>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">
        <a ui-sref="form.claimant" class="btn form-button">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Back
        </a>
    </div>

    <div class="col-xs-2">
        <button type="submit" class="btn form-button">
            Sumbit<span class="glyphicon glyphicon-plus-sign"></span>
        </button>
    </div>
</div>


<!--
<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Thanks For Your Money!</h3>

    <button type="submit" class="btn btn-danger">Submit</button>
</div>
-->